/* colores segun el tipo/s del pokemon */
.pokeType {
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  text-transform: capitalize;
  margin-left: 5px;
  font-weight: 700;
}

.normal {
  background-color: #a8a878;
}

.grass {
  background-color: #78c850;
}

.ground {
  background-color: #e0c068;
}

.fighting {
  background-color: #c03028;
}

.rock {
  background-color: #b8a038;
}

.steel {
  background-color: #b8b8d0;
}

.fire {
  background-color: #f08030;
}

.electric {
  background-color: #f8d030;
}

.flying {
  background-color: #a890f0;
}

.psychic {
  background-color: #f85888;
}

.bug {
  background-color: #a8b820;
}

.dragon {
  background-color: #7038f8;
}

.water {
  background-color: #6890f0;
}

.ice {
  background-color: #98d8d8;
}

.poison {
  background-color: #a040a0;
}

.dark {
  background-color: #705848;
}

.ghost {
  background-color: #705898;
}

.fairy {
  background-color: #ffaec9;
}
